body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-name {
    font-size: 30px;
}

.search-header {
    font-size: 22px;
    font-style: italic;
}

footer {
    position: absolute;
    left: 0;
    bottom: 100;
    width: 100%;
    height: 30px;
    line-height: 30px; 
    color: white;
    text-align: center;
    font-size: 14px;
  }
  
.city-name {
    font-size: 28px;
}

hr {
    border: none;
    height: 3px;
    color: #333; 
    background-color: #333;
}

.forecast-date {
    font-size: 18px;
}